* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
  text-align: center;
}

.main-list-item {
  width: 960px;
  padding: 20px;
  text-align: left;
}

.main-list-item:nth-child(odd) {
  background-color: lightgray;
}

.main-box {
  width: 960px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.main-box-item {
width: 30%;
height: 200px;
margin-bottom: 40px;
background-color: yellow;
}

.main-box-item:first-child,
.main-box-item:nth-child(4),
.main-box-item:nth-child(7) {
  margin-right: 5%;
}

.main-box-item:nth-child(3n) {
  margin-left: 5%;
}

.main-box-item:first-child,
.main-box-item:nth-child(5),
.main-box-item:last-child {
  background-color: orange;
}

.main-box-item:nth-child(7),
.main-box-item:nth-child(8),
.main-box-item:last-child {
  margin-bottom: 0;
}